.table {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px #00000040;
}

.table>div:first-child {
    text-align: start;
    padding-left: 10px;
}

.table>div:nth-child(odd) {
    background-color: #F8F8FA;
}

.row {
    display: flex;
    justify-content: space-around;
    padding: 2px;
}


.tableInput {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 10px;
  }
.buttonContainer {
    width: 350px;
    height: 32px;
    flex-shrink: 0;
}
.buttonContainer{
    border-radius: 5px;
    background: #71CF48;
/* justify-content: center; */

}
.buttonContainer{
    color: #FFF;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.tt{
color: #BFBFBF;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.ss
{
    width: 1480px;
height: 0px;
flex-shrink: 0;
}
.buttons{
    width: 120px;
height: 32px;
flex-shrink: 0;
}

.otherdiv{
    border-radius: 10px;
background: #FFF;
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
}


.styledDiv {
    width: 370px;
    height: 899px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
    margin-top: 20px;
}

.input {
    width: 492px !important;
    margin-right: 10px;
    padding-left: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row>p{
    color: blue;
}

.row>p:hover{
    cursor: pointer;
}

.rowStatusCompleted {
    color: white;
    height: 32px;
    line-height: 28px;
    text-align: center;
    width: 129px;
    background-color: #7AC14D;
    border-radius: 10px;
}

.rowStatusInProgress {
    color: white;
    height: 32px;
    line-height: 28px;
    text-align: center;
    width: 129px;
    background-color: #B3D99B;
    border-radius: 10px;
}

.rowStatusOnHold {
    color: white;
    height: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    width: 129px;
    background-color: #FE4C4A;
    border-radius: 10px;
}

.rowStatusOnRoad {
    color: white;
    height: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    width: 129px;
    background-color: #ECDE7C;
    border-radius: 10px; 
}